body{
    background-color: rgb(247, 244, 241);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid black;
    background-color: rgb(171, 189, 207);
}
fieldset{
    width: 400px;
    padding: 10px;
}
label,input{
    padding: 2px;
    margin: 5px;
}
.btn{
    padding: 8px;
    background-color: rgb(179, 73, 73);
    color: rgb(249, 247, 247);
}
.btn:hover{
    background-color: gray;
    color: ghostwhite;
}